<nav class="navbar navbar-expand-lg navbar-light navcolor">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%=link_to "Home", home_index_path, class:"nav-link #{"active" if current_page?(home_index_path)}"%>
        </li>
        <li class="nav-item">
          <%=link_to "Create Review", new_home_path, class:"nav-link #{"active" if current_page?(new_home_path)}"%>
        </li>
        <%unless user_signed_in?%>
        <li class="nav-item">
          <%=link_to "Log in", new_user_session_path, class:"nav-link #{"active" if current_page?(new_user_session_path)}"%>
        </li>
        <li class="nav-item">
          <%=link_to 'Sign up', new_user_registration_path, class:"nav-link #{"active" if current_page?(new_user_registration_path)}"%>
        </li>
        <%else%>
        <li class="nav-item">
          <%=link_to 'Sign out', destroy_user_session_path, data: {turbo_method: :delete}, class: 'nav-link'%>
        </li>
        <%end%>
      </ul>
      <form class="d-flex">
        <%if current_page?(home_index_path) || current_page?(root_path)%>
          <%= search_form_for @q ,url: home_index_path do |f| %>
              <%= f.search_field :title_cont , placeholder: 'search'%>
              <%= f.button 'search', class: "btn btn-info"%>
          <% end %>
        <%end%>
      </form><span class="nav-item dropdown ">
          <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Welcome <%=user_signed_in? ? current_user.email : 'User'%>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </span>
    </div>
  </div>
</nav><br>
