<div class="container">
  <h1><%=@link.title.titleize%></h1>
  <br>
  <iframe 
    width="560" height="315" src=<%=@link.embed%>
    title="YouTube video player" frameborder="0" 
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
    allowfullscreen
    referrerpolicy="strict-origin-when-cross-origin">
  </iframe>
  <p><%=@link.review%></p>
  <p><small class="text-muted">Last updated <%=time_ago_in_words(@link.updated_at)%></small></p>
  <br>
  <%if user_signed_in?%>
    <%=form_for @comment, url: comment_path do |f|%>
      <div class="mb-3">
        <%=f.label :body, 'comment :-', class: 'form-label'%><br>
        <%=f.text_area :body, class: 'form-control w-50'%>
      </div>
      <%=f.hidden_field :commentable, value: "#{@link.id}"%>
      <%=f.submit 'add comment', class: 'btn btn-primary' %>
      
    <%end%>
  <%else%>
    <p>Must be signed in to comment</p>
  <%end%>
  <br>
  <%@comments&.each do |c|%>
    <p class="comment"><%=c.user.email%> : <%=c.body%></p><br>
  <%end%>
</div>
